<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/menu.css">
    <script src="/js/context_menu.js" defer></script>
    <script src="/js/editor.js" defer></script>
    <script src="/js/swapper.js" defer></script>
    <script src="/js/new_note_dialog.js" defer></script>
    <script src="/js/note_list.js" defer></script>
    <script src="/js/api_note.js" defer></script>
    <script src="/js/api_notes.js" defer></script>
    <script src="/js/app.js" defer></script>
    <link rel="icon" href="/img/favicon.svg" type="image/svg+xml">
</head>

<body>
    <main>
        <%= yield %>
    </main>
</body>

</html>
